.btn-primary
  display inline-block
  font-size 1.2rem
  color #fff
  background-color $accentColor
  padding 0.8rem 1.6rem
  border-radius 4px
  transition background-color .1s ease
  box-sizing border-box
  border 0
  &:hover
    background-color lighten($accentColor, 10%)

.content__default
  font-size 18px

header.hero
    img
        width 160px

.img-96
    img
        width 96px

a
  img
    border 3px solid transparent
    padding 10px

    &:hover
      border 3px solid #007bff
      border-radius 6px

.home
    .feature
        text-align center

.content
    img
        display block
        margin auto
        padding 10px
        border-radius 6px
        box-shadow 1px 2px 4px 0 hsla(0, 0%, 0%, 0.2)
        border 3px solid transparent

    ul li
        margin-bottom 6px
        list-style-type none

    ol li
        margin-bottom 6px

    kbd
        font-weight bold
        padding 2px 4px
        color #fff
        background-color #333
        border-radius 3px
        border 1px solid #333

.modulos
    padding 1.2rem 0
    margin-top 2.5rem
    display flex
    flex-wrap wrap
    align-items flex-start
    align-content stretch
    justify-content center

    .modulo
        flex-grow 1
        flex-basis 30%
        max-width 30%
        text-align center

        h3
          margin-bottom 0

.breadcrumb {
  list-style: none;
  margin: .2rem 0;
  padding: .2rem 1rem;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb .breadcrumb-item {
  color: #667189;
  display: inline-block;
  margin: 0;
  padding: .2rem 0;
}

.breadcrumb .breadcrumb-item a {
  font-weight: normal;
}

.breadcrumb .breadcrumb-item:not(:last-child) {
  margin-right: .2rem;
}

.breadcrumb .breadcrumb-item:not(:last-child) a {
  color: #667189;
}

.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: #aaa;
  content: "/";
  padding-right: .4rem;
}

.content__default:not(.custom) img,
.content__default:not(.custom) iframe {
    display block
    margin auto
}
